    body {
        font-family: 'Roboto Slab', serif;
        background-color: #FFE4B5;
        background-size: cover;
        background-attachment: fixed;
    }
    
    #title {
        border: 10px;
        border-radius: 20px;
        font-size: 32px;
        text-align: center;
    }
    
    #document {
        position: absolute;
        margin: auto;
        width: 95%;
        padding: 10px;
    }
    
    .loginbox {
        width: 320px;
        height: 200px;
        top: 150%;
        left: 50%;
        position: absolute;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 60px 20px;
        background-color: rgb(255, 222, 173);
    }
    
    h1 {
        margin: 90px;
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
        border-radius: 50px;
        text-align: center;
    }
    
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 14px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 10px;
    }
    
    input[type="submit"],
    input[type="button"] {
        background-color: rgb(255, 222, 173);
        padding: 3px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-content: center;
        width: 100%;
        border: none;
        color: black;
        border-radius: 12px;
    }


    a[href="#forget"] {
        margin: auto;
        width: 95%;
        padding: 30px;
    }

    #allMarks table, th, td {
        border: 1px solid black;
        padding: 3px;	
        border-collapse: collapse
    }

    /* register student form styling */
    #newStu input {
    width: 50%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    }

    /* register student form styling */
    #newModule input {
        width: 50%;
        padding: 12px 20px;
        margin: 0 auto;
        box-sizing: border-box;
        }